<ion-content>
  <ion-slides #mySlider pager>
    
    <ion-slide>
      <div class="container">
        <div class="backG">
          <div class="welc">
            <h1>
              Welcome to
            </h1>
          </div>
          <div class="logo">
            <div class="im">
              <img src="../../assets/whitelogo.svg" alt="">
            </div>
          </div>
        </div>
        <div class="rest">
          <div class="mess">
            <div class="tex">
                <h6>
                    The following screens will help you familiarize yourself with the application.
                </h6>
            </div>
          </div>
          <div class="btns">
            <div class="div1">
              <div class="div2">
                <div class="text">
                  <p>Show me</p>
                </div>
                <div class="fabButto">
                  <ion-fab-button (click)="swipeNext()" size="small" color="light">
                      <ion-icon name="arrow-round-forward"></ion-icon>
                  </ion-fab-button>
                </div>
              </div>
            </div>
            <div class="d1">
              <div class="d2">
                  <div class="text">
                      <p>Not now</p>
                  </div>
                  <div class="fabButto">
                      <ion-fab-button (click)="goToLogin()" size="small" color="light">
                          <ion-icon name="fastforward"></ion-icon>
                      </ion-fab-button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>



    <ion-slide>
        <div class="containerr">
            <div class="backGg">

              <div class="logoo">
                <div class="imm">
                  <img src="../../assets/person.svg" alt="">
                </div>
              </div>
            </div>
            <div class="restt">
              <div class="messs">
                <div class="pros">
                  <h3>
                      Be one with the pros
                  </h3>
                </div>
                <div class="texx">
                    <h6>
                        You will be listed in the app as a pro instructor along with your driving school.
                    </h6>
                </div>
              </div>
              <div class="btnss">
                <div class="div11">
                  <div class="div22">
                      <div class="text">
                          <p>Next</p>
                      </div>
                      <div class="fabButton">
                          <ion-fab-button (click)="swipeNext()" size="small" color="light">
                              <ion-icon name="arrow-round-forward"></ion-icon>
                          </ion-fab-button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </ion-slide>



    <ion-slide>
        <div class="containerr">
            <div class="backGg">

              <div class="logoo">
                <div class="imm">
                  <img src="../../assets/slide3.svg" alt="">
                </div>
              </div>
            </div>
            <div class="restt">
              <div class="messs">
                <div class="pros">
                  <h3>
                      Customer tracking
                  </h3>
                </div>
                <div class="texx">
                    <h6>
                        All your requests will be listed in the home tab. 
                        After accepting, you will see the deadline of your request and
                         location of the person in the booking tab.
                    </h6>
                </div>
              </div>
              <div class="btnss">
                <div class="div11">
                  <div class="div22">
                      <div class="text">
                          <p>Next</p>
                      </div>
                      <div class="fabButton">
                          <ion-fab-button (click)="swipeNext()" size="small" color="light">
                              <ion-icon name="arrow-round-forward"></ion-icon>
                          </ion-fab-button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </ion-slide>



    <ion-slide>
        <div class="container">
            <div class="backG">
              <div class="logo" style="height: 100%;">
                <div class="im">
                  <img src="../../assets/Slide 4.svg" alt="">
                </div>
              </div>
            </div>
            <div class="rest">
                <div class="messs">
                    <div class="pros">
                      <h3 style="text-align: end;">
                          Analytics
                      </h3>
                    </div>
                    <div class="texx">
                        <h6>
                            The app tells you the frequency of your bookings at specific timeframes.
                             You can view them in the analytics tab.
                            That's it, please enjoy the app
                        </h6>
                    </div>
                  </div>
              <div class="btns">
                <div class="div1">
                  <div class="div2">
                    <div class="text">
                      <p>Sign Up</p>
                    </div>
                    <div class="fabButto">
                      <ion-fab-button (click)="goToLogin()" size="small" color="light">
                          <ion-icon name="arrow-round-forward"></ion-icon>
                      </ion-fab-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </ion-slide>

  </ion-slides>
</ion-content>