

<ion-content>
  <div class="background">
    <div class="logo">
      <img src="../../assets/StepLogo.svg" alt="">
    </div>
    <div class="body">
      <div class="sign">
        <div class="bSign">
          <button>
            Sign In
          </button>
  
        </div>
        <div class="bReg">
          <button (click)="goToRegister()">
            Sign Up
          </button>
        </div>
      </div>
  
      <div class="cont">
        <div class="login">
          <div class="title">
            <h1>
              SIGN IN
            </h1>
          </div>
          <div class="input1">
            <div class="em">
                <a>User Email</a>
            </div>
            <div class="inp">
                <input type="text">
            </div>
          </div>
          <div class="input1">
              <div class="em">
                  <a>Password</a>
              </div>
              <div class="inp">
                  <input type="text">
              </div>
            </div>
  
            <div class="forget">
              <button>
                Forgot Password?
              </button>
            </div>
            <div class="btn">
              <button>
                Proceed
              </button>
            </div>
        </div>
      </div>
  
    </div>
  </div>
  </ion-content>
  