

<ion-content>
  <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
  <!-- <div class="loader"> -->
    <div class="load-ctrl">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        Logging In
    </div>
  </div>
 
  <div class="background">
    <div class="logo">
      <img src="../../assets/StepLogo.svg" alt="">
    </div>
    <div class="body">
      <div class="sign">
        <div class="bSign">
          <button (click)="switchForms('signin')">
            Sign In
          </button>
        </div>
        <div class="bReg">
          <button (click)="switchForms('signup')">
            Sign Up
          </button>
        </div>
      </div>
      <div class="cont">
        <div class="login">
          <!-- LOGIN FORM -->
          <form (ngSubmit)="loginUser(signinForm)" [formGroup]= "signinForm">
              <div class="title">
                  <h1>
                    SIGN IN
                  </h1>
                </div>

            <div class="input1">
              <div class="em">
                  <a>User Email</a>
              </div>
              <div class="inp">
                <input type="email" formControlName="email" [class.invalid]="!signinForm.controls['email'].valid &&
                signinForm.controls['email'].touched" (keyup.enter)="submit()">
              </div>
            </div>

            <div class="error" *ngIf="!signinForm.controls['email'].valid &&
            signinForm.controls['email'].touched">
              <div class="messages" style="text-align: center;">
                <a style="color: red">
                  Please enter a valid email address.
                </a>
              </div>
            </div>

            <div class="input1">
              <div class="em">
                  <a>Password</a>
              </div>
              <div class="inp">
                <input type="password" formControlName="password"
                [class.invalid]="!signinForm.controls['password'].valid&& signinForm.controls['password'].touched" (keyup.enter)="submit()" (keyup.enter)="handleLogin()">
              </div>
            </div>

            <div *ngIf="!signinForm.controls['password'].valid
            && loginForm.controls['password'].touched" class="error">
              <div class="messages" style="text-align: center;">
                <a style="color: red;">
                  Your password is incorrect.
                </a>
              </div>
            </div>

            <div class="forget">
              <button (click)="forgetpassword()">
                Forgot Password?
              </button>
            </div>
            <div class="btn">
              <button  type="submit">
                Proceed
              </button>
            </div>
          </form>
        </div>
        <div class="signup">
          <!-- SIGN UP FORM -->
          <form  (ngSubmit)="signupUser(signUpForm)" [formGroup]= "signUpForm" >
            <div class="title">
            <h1>
              SIGN UP
            </h1>
          </div>
            <div class="input1">
              <div class="em">
                  <a>User Email</a>
              </div>
              <div class="inp">
                <input type="email" formControlName="email" [class.invalid]="!signUpForm.controls['email'].valid &&
                signUpForm.controls['email'].touched" (keyup.enter)="submit()">
              </div>
            </div>
            <div class="error" *ngIf="!signUpForm.controls['email'].valid &&
            signUpForm.controls['email'].touched">
              <div class="messages" style="text-align: center;">
                <a style="color: red">
                  Please enter a valid email address.
                </a>
              </div>
            </div>
            <div class="input1">
              <div class="em">
                  <a>Password</a>
              </div>
              <div class="inp">
                <input   type="email" type="password" formControlName="password"
                [class.invalid]="!signUpForm.controls['password'].valid&& signUpForm.controls['password'].touched" (keyup.enter)="submit()" (keyup.enter)="handleLogin()">
              </div>
            </div>
            <div *ngIf="!signUpForm.controls['password'].valid
            && signUpForm.controls['password'].touched" class="error">
              <div class="messages" style="text-align: center;">
                <a style="color: red;">
                  Your password is incorrect.
                </a>
              </div>
            </div>
            <div class="btn">
              <button  type="submit">
                Proceed
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
  