<ion-content>
  <div class="viewImage">
    <div (click)="openImage('', 'close')" class="close">
      <p>x</p>
    </div>
    <img *ngIf="businessdata.image" src="{{businessdata.image}}" alt="">
    <img *ngIf="!businessdata.image"
      src="https://firebasestorage.googleapis.com/v0/b/step-drive-95bbe.appspot.com/o/1.png?alt=media&token=c023a9e6-a7a0-4af9-bd13-9778f2bea46d"
      alt="">
    <ion-fab vertical="middle" horizontal=" start" (click)="selectImage()">
      <ion-fab-button side="top" size="small">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <!-- <form #profileForm="ngForm" (ngSubmit)="createMyAccount(profileForm.value)"> -->
    <form [formGroup]="profileForm">
    <ion-slides #mySlider (ionSlideWillChange)="doCheck()">
    <ion-slide>
      <div class="container">
        <div class="road">
        </div>
        <div class="prof">
          <div class="top">
            <div class="reviews">
              <div class="fab">
                <ion-fab-button (click)="goToRev()" color="light" size="small">
                  <ion-icon name="arrow-back"></ion-icon>
                </ion-fab-button>
              </div>
              <div class="cout">
                <p>Back</p>
              </div>
            </div>
            
          </div>
          <div class="pp">
            <div class="pp" (click)="openImage('', 'open')">
              <ion-avatar item-left>
                <img *ngIf="!businessdata.image"
                  src="https://firebasestorage.googleapis.com/v0/b/step-drive-95bbe.appspot.com/o/1.png?alt=media&token=c023a9e6-a7a0-4af9-bd13-9778f2bea46d"
                  alt="">
                <img *ngIf="businessdata.image" src="{{businessdata.image}}">
              </ion-avatar>
            </div>
          </div>
          <div class="div">
            <div class="div1">
              <div class="dv1"></div>
            </div>
            <div class="div2">
              <a>BUSINESS PROFILE</a>
            </div>
            <div class="div3">
              <div class="dv2"></div>
            </div>
          </div>
          <div class="cont">
            <div class="blank">
            </div>
            <div class="inputs">


              <a>Address</a>
              <input type="text" #autocomplete id="autocomplete"
                (onFocus)="initAutocomplete()" type="text" formControlName="address">
                <div *ngFor="let error of error_messages.address"  >
                  <div *ngIf="profileForm.get('address').hasError(error.type)&&(profileForm.get('address').dirty || profileForm.get('address').touched)">
                    <p style="margin: 0;padding: 3px 4px;
                    color: red; text-align: right; width: 100%;font-size: 4vw;">{{error.message}}</p>
                  </div>
                </div>

                <a>School name</a>
                <input type="text" formControlName="schoolname">
                <div *ngFor="let error of error_messages.schoolname"  >
                    <div *ngIf="profileForm.get('schoolname').hasError(error.type)&&(profileForm.get('schoolname').dirty || profileForm.get('schoolname').touched)">
                      <p style="margin: 0;padding: 3px 4px;
                      color: red; text-align: right; width: 100%;font-size: 4vw;">{{error.message}}</p>
                    </div>
                  </div>

                <a>Cell number</a>
                <input type="tel" formControlName="cellnumber">
                <div *ngFor="let error of error_messages.cellnumber"  >
                    <div *ngIf="profileForm.get('cellnumber').hasError(error.type)&&(profileForm.get('cellnumber').dirty || profileForm.get('cellnumber').touched)">
                      <p style="margin: 0;padding: 3px 4px;
                      color: red; text-align: right; width: 100%;font-size: 4vw;">{{error.message}}</p>
                    </div>
                  </div>

                <a>Description</a>
                <input type="text"  formControlName="desc">

                <div *ngFor="let error of error_messages.desc"  >
                    <div *ngIf="profileForm.get('desc').hasError(error.type)&&(profileForm.get('desc').dirty || profileForm.get('desc').touched)">
                      <p style="margin: 0;padding: 3px 4px;
                      color: red; text-align: right; width: 100%;font-size: 4vw;">{{error.message}}</p>
                    </div>
                  </div>
                <div class="next">
                  <div class="btn">
                    <div class="cout">
                      <p>Next</p>
                    </div>
                    <div class="fab">
                      <ion-fab-button style="margin: 0px !important;" (click)="swipeNext()" color="light" size="small">
                        <ion-icon name="arrow-round-forward"></ion-icon>
                      </ion-fab-button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container2">
        <div class="road2">
        </div>
        <div class="prof2">
          <div class="operate">
            <div class="d1">
              <div class="dv1"></div>
            </div>
            <div class="d2">
              <a>Operating Hours</a>
            </div>
            <div class="d3">
              <div class="dv2"></div>
            </div>
          </div>

          <div class="time">
            <div class="t1">
              <a>Opening time</a>
              <ion-item>
                <ion-datetime displayFormat="HH:mm" formControlName="open" >
                </ion-datetime>
              </ion-item>
              <div *ngFor="let error of error_messages.open"  >
                  <div *ngIf="profileForm.get('open').hasError(error.type)&&(profileForm.get('open').dirty || profileForm.get('open').touched)">
                    <p style="margin: 0;padding: 3px 4px;
                    color: red; text-align: right; width: 100%;font-size: 4vw;">{{error.message}}</p>
                  </div>
                </div>
            </div>
            <div class="t2">

            </div>

            <div class="t1">
              <a>Closing Time</a>
              <ion-item>
                <ion-datetime displayFormat="HH:mm" formControlName="closed">
                </ion-datetime>
                <div *ngFor="let error of error_messages.closed"  >
                    <div *ngIf="profileForm.get('closed').hasError(error.type)&&(profileForm.get('closed').dirty || profileForm.get('closed').touched)">
                      <p style="margin: 0;padding: 3px 4px;
                      color: red; text-align: right; width: 100%;font-size: 4vw;">{{error.message}}</p>
                    </div>
                  </div>
              </ion-item>
            </div>

          </div>
          <div class="next" *ngIf="formValid" >
            <div class="btn">
              <div class="cout">
                <p>Finish</p>
              </div>
              <div class="fab">
                <ion-fab-button [disabled]="!profileForm.valid" (click)="createMyAccount(profileForm.value)" type="submit" color="light" size="small">
                  <ion-icon name="arrow-round-forward"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  </form>
  
</ion-content>