<!-- <ion-header>
  <ion-toolbar>
    <ion-title>viewprofile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

<div class="container" >

  <div class="image">
    <img src="https://drop.ndtv.com/albums/AUTO/tata-tiago-jtp/640_640x480.jpg" class="image"  alt="">
  </div>

  <div class="name">
<h1>Pace driving school</h1>
  </div>


  <div class="two">
      <div class="address"> <h1><ion-icon ios="ios-home" md="md-home"></ion-icon>address</h1></div>
      <p>description</p>
      <div class="email"> <h1> <ion-icon ios="ios-mail" md="md-mail"></ion-icon>email</h1></div>
      <div class="time"> <h1>  <ion-icon ios="ios-timer" md="md-timer"></ion-icon>open</h1></div>
      <div class="round">Packages</div>
  </div>
<!-- <div class="one">
    
    <div class="des"> <p>description</p></div>

    
   

</div> -->
   





  
<!-- 
    address: {{d.address}}<br><br>
    cellnumber: {{d.cellnumber}}<br><br>

    schoolname: {{d.schoolname}}<br><br>
    desc: {{d.desc}}<br><br>
    email: {{d.email}}<br><br>
    open: {{d.open}}<br><br>
    packages: {{d.schoolname}}<br><br>
    schoolname: {{d.schoolname}}<br><br>
   schoolname: {{d.schoolname}}<br><br> -->


</div>








</ion-content>
