<ion-content>
  <div class="container"  *ngFor="let d of NewDrivingschool">
    
    <div class="top">
      <div class="image">
        <img *ngIf="d.image" src="{{d.image}}" alt="">
      </div>
      <div class="name">
        <p>
            {{d.schoolname}}
        </p>
      </div>
    </div>


    <div class="say">
      <p>
        People said
      </p>
    </div>

    <div class="comments" *ngFor="let item of reviews">
      <div class="first">
        
        <div class="pic">
          <ion-avatar>
              <img src={{item.image}} />
          </ion-avatar>
        </div>
        <div class="com">
            <h1>{{item.username}}</h1>
            <a>23 Jul 2019</a>
            <p>
                {{item.text}}
            </p>
            <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFD700"
            defaultColor="#D3D3D3" readonly="true" rating="{{item.rating}}" fontSize="32px"
            (ratingChanged)="logRatingChange($event)">
          </ionic4-star-rating>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>