<ion-content>
  <div class="container"  >
    
    <div class="top"  *ngFor="let d of NewDrivingschool">
      <div class="image">
          <img *ngIf="!d.image"
          src="https://firebasestorage.googleapis.com/v0/b/step-drive-95bbe.appspot.com/o/1.png?alt=media&token=c023a9e6-a7a0-4af9-bd13-9778f2bea46d"
          alt="">
        <img *ngIf="d.image" src="{{d.image}}">
      </div>
      <div class="name">
        <p>
            {{d.schoolname}}
        </p>
      </div>
    </div>


    <div *ngIf="reviews.length > 0" class="say">
      <p>
        People said
      </p>
    </div>

    <div *ngIf="reviews.length == 0" class="say">
        <p>
         People haven't said anything yet!
        </p>
      </div>

    <!-- <ion-list *ngFor="let item of reviews">
      <ion-item>
        <img src={{item.image}}  class="img"/>
        <div>
            <h1>{{item.username}}</h1>
            {{item.text}}
            <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFD700"
            defaultColor="#D3D3D3" readonly="true" rating="{{item.rating}}" fontSize="32px"
            (ratingChanged)="logRatingChange($event)">
          </ionic4-star-rating>
        </div>
       
      </ion-item>   
    <br /> 
    </ion-list> -->

      

    <div class="comments">
        <div class="first" *ngFor="let item of reviews">           
                  <img src={{item.image}}  class="img"/>
                  <div>
                      <h1>{{item.username}}</h1>
                      {{item.text}}
                      <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFD700"
                      defaultColor="#D3D3D3" readonly="true" rating="{{item.rating}}" fontSize="32px"
                      (ratingChanged)="logRatingChange($event)">
                    </ionic4-star-rating>
                  </div>             
              <br />     
        </div>
    </div>



    <!-- <div class="comments" *ngFor="let item of reviews">
      <div class="first">
        
        <div class="pic">
          <ion-avatar>
              <img src={{item.image}} />
          </ion-avatar>
        </div>
        <div class="com">
            <h1>{{item.username}}</h1>
            <a>23 Jul 2019</a>
            <p>
                {{item.text}}
            </p>
            <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFD700"
            defaultColor="#D3D3D3" readonly="true" rating="{{item.rating}}" fontSize="32px"
            (ratingChanged)="logRatingChange($event)">
          </ionic4-star-rating>
        </div>
        
      </div>
    </div> -->
    
  </div>
</ion-content>