<ion-content>
    <div class="request">
      <h1 style="font-size: 4vw;">
         {{value}}
      </h1>
    </div>
    <div class="container" padding>
  
      <div class="card" *ngFor = "let obj of dataDisplay; let i = index">
  
          <div class="image">
            <img src="{{obj.obj.image}}" alt="No Image">
          </div>
          <div class="details" >
            <div class="det">
              <p style="font-size: 4vw;font-weight: bold">{{obj.obj.name}}</p>
              
              <p (click)="GoTo(obj.placeid)"style="font-size: 3vw">{{obj.obj.location}}</p>
              <p style="font-size: 3vw">Contacts: {{obj.obj.phone}}</p><br />
              <!-- <p style="font-size: 2.5vw">{{obj.phone}}</p> -->
            </div>
          </div>
  <!-- <button (click)="DeleteItem(i)">Delete</button> -->
        </div>

      </div>  
  </ion-content>
