<ion-content>
    <div class="container" padding >
      <p *ngIf="dataDisplay.length==0" style="text-align: center;" >No bookings made yet.</p>
      <div class="card" *ngFor = "let obj of dataDisplay; let i = index">
  
          <div class="image">
            <img src="{{obj.image}}" alt="No Image">
          </div>
          <div class="details" >
            <div class="det">
              <p style="font-size: 5vw;font-weight: bold">{{obj.name}}</p>
              
              <p style="font-size: 3vw">{{obj.package.name}}, {{obj.package.code}}, R{{obj.package.amount}}.00, {{obj.package.number}} lesson(s)</p>
              <p style="font-size: 3vw">{{obj.phone}}</p>
              
              <hr style="background: white;">
              <p style="font-size: 3vw">{{obj.datein}} to {{obj.dateout}}</p>
              <p style="color: rgb(93, 190, 255);text-decoration: underline;" (click)="GoTo(obj)">Take me here</p>
            </div>
          </div>
  <button (click)="DeleteItem(obj)"> <ion-icon name="trash"></ion-icon> </button>
        </div>

      </div>  
  </ion-content>
