<ion-content fullscreen>
    <div class="viewImage">
        <div (click)="openImage('', 'close')" class="close"><p>x</p></div>
        <img  *ngIf="businessdata.image" src="{{businessdata.image}}" alt="">
        <img *ngIf="!businessdata.image" src="https://firebasestorage.googleapis.com/v0/b/step-drive-95bbe.appspot.com/o/1.png?alt=media&token=c023a9e6-a7a0-4af9-bd13-9778f2bea46d" alt="">
  
        <ion-fab vertical="middle" horizontal=" start" (click)="selectImage()">
        <ion-fab-button side="top" size="small">
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      </div>
    <ion-slides>
  
      <ion-slide>
        <div class="container">
          <div class="road">
          </div>
          <div class="prof">
            <div class="top">
              <div class="reviews">
  
                <div class="fab">
                  <ion-fab-button (click)="goToRev()" color="light" size="small">
                    <ion-icon name="star-half"></ion-icon>
                  </ion-fab-button>
                </div>
                <div class="">
                  Reviews
                </div>
              </div>
              <div class="exit">
  
  
                <div class="cout">
                  Sign Out
                </div>
                <div class="fab">
                  <ion-fab-button color="light" size="small">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                  </ion-fab-button>
                </div>
              </div>
            </div>
  
            <div class="pp" (click)="openImage('', 'open')">
              <img *ngIf="!businessdata.image" src="https://firebasestorage.googleapis.com/v0/b/step-drive-95bbe.appspot.com/o/1.png?alt=media&token=c023a9e6-a7a0-4af9-bd13-9778f2bea46d"
              alt="">
              <img *ngIf="businessdata.image" src="{{businessdata.image}}"
              alt="">
            </div>






            
  
            <div class="div">
              <div class="div1">
                <div class="dv1"></div>
              </div>
              <div class="div2">
                <a>bUSINESS pROFILE</a>
              </div>
              <div class="div3">
                <div class="dv2"></div>
              </div>
            </div>
            <div class="cont">
              <div class="blank">
  
              </div>
              <form [formGroup]="loginForm"> 
                  <div class="inputs">
                      <a>
                        Address
                      </a>
                      <input type="text" #autocomplete  id="autocomplete"    placeholder="Enter your address" (onFocus)="geolocate()" [(ngModel)]="businessdata.address">
                    
                      <a>
                        School name
                      </a>
                      <input type="text" [(ngModel)]="businessdata.schoolname">
                      <a>
                          <div class="error" *ngFor="let validate of validation_messages.schoolname">
                              <div class="messages"
                                *ngIf="loginForm.get('schoolname').hasError(validate.type) && (loginForm.get('schoolname').dirty || loginForm.get('schoolname').touched)">
                                {{validate.message}}
                              </div>
                            </div>

                        Cell number
                      </a>
                      <input type="text" [(ngModel)]="businessdata.cellnumber">
                      <a>

                          <div class="error" *ngFor="let validate of validation_messages.cellnumber">
                              <div class="messages"
                                *ngIf="loginForm.get('cellnumber').hasError(validate.type) && (loginForm.get('cellnumber').dirty || loginForm.get('cellnumber').touched)">
                                {{validate.message}}
                              </div>
                            </div>

                        cOST P/L
                      </a>
                      <input type="text" [(ngModel)]="businessdata.cost">
                      <a>

                          <div class="error" *ngFor="let validate of validation_messages.cost">
                              <div class="messages"
                                *ngIf="loginForm.get('cost').hasError(validate.type) && (loginForm.get('cost').dirty || loginForm.get('schoolname').touched)">
                                {{validate.message}}
                              </div>
                            </div>
                        dESCRIPTION
                      </a>
                      <input type="text" [(ngModel)]="businessdata.desc">
                      <div class="next">
                        <div class="btn">
        
        
                          <div class="cout">
                            Next
                          </div>
                          <div class="fab">
                            <ion-fab-button color="light" size="small">
                              <ion-icon name="arrow-round-forward"></ion-icon>
                            </ion-fab-button>
                          </div>
                        </div>
                      </div>
                    </div>
              </form>

            
            </div>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="container2">
          <div class="road2">
          </div>
          <div class="prof2">
            <div class="operate">
              <div class="d1">
                <div class="dv1"></div>
              </div>
              <div class="d2">
                <a>Operating Hours</a>
              </div>
              <div class="d3">
                <div class="dv2"></div>
              </div>
            </div>
  
            <div class="time">
              <div class="t1">
                <a>Opening time</a>
                <ion-item>
                  <ion-datetime displayFormat="HH:mm" [(ngModel)]="businessdata.open">
                  </ion-datetime>
                </ion-item>
              </div>
              <div class="t2">
  
              </div>
  
              <div class="t1">
                <a>Closing Time</a>
                <ion-item>
                  <ion-datetime displayFormat="HH:mm" [(ngModel)]="businessdata.closed">
                  </ion-datetime>
                </ion-item>
              </div>
              <div class="t2">
  
              </div>
  
            </div>
  
            <div class="operate">
              <div class="d1">
                <div class="dv1"></div>
              </div>
              <div class="d2">
                <a>pACKAGES</a>
              </div>
              <div class="d3">
                <div class="dv2"></div>
              </div>
            </div>

            <div class="contPacks">
              <div class="packs" *ngFor="let p of businessdata.packages; let i = index" (click)="editpack(p)">
                  <p text-center *ngIf="!businessdata.packages[0]"><strong>No packages yet</strong></p>
                <div class="pack">
                  <a *ngIf="p.code">{{p.code}}</a>
                  <a *ngIf="p.code">{{p.name}}</a>
                  <a *ngIf="p.code">{{p.number}}</a>
                  <a *ngIf="p.code">{{p.amount}}</a>
                  <a>5 lessons</a>
                </div>

              </div>
              <div class="inputs">
                <a>
                  cODE
                </a>
             
                <input *ngIf="businessdata.packages.length<4" type="text" [(ngModel)]="code">
                  <input *ngIf="businessdata.packages.length==4" disabled="true" type="text">
                <a>
                  nAME
                </a>
                <input *ngIf="businessdata.packages.length<4" type="text" [(ngModel)]="name">
              <input *ngIf="businessdata.packages.length==4" disabled="true" type="text">
                
                <a>
                  dESCRIPTION
                </a>
                <input *ngIf="businessdata.packages.length<4" type="text" [(ngModel)]="amount">
              <input *ngIf="businessdata.packages.length==4" type="text" disabled="true">
                <a>
                  aMOUNT
                </a>
                <input type="text" >
                
                
              </div>
            </div>
            <div class="addPack">
            

              <button size="small"  *ngIf="businessdata.packages.length<3"  (click)="addPack()" >
                  Add Package
                </button>
    ​
                <button size="small" *ngIf="businessdata.packages.length==3" (click)="addPack()" >
                    Add Package
                  </button>
            </div>
            <div class="next">
              <div class="btn">
  
  
                <div class="cout">
                  Finish
                </div>
                <div class="fab">
                  <ion-fab-button color="light" size="small">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                  </ion-fab-button>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </ion-slide>
  
    </ion-slides>
  
  </ion-content>