<ion-content>
  <div [ngClass]="{'packEdit': editPacks, 'packEdit-inactive': !editPacks}" >
    <div class="packForm">
      <h4>{{segmentVal}}</h4>
      <div class="amountInput">
        <div class="inp" *ngIf="showPrice">
            <ion-item>
                <ion-label position="stacked" >Amount for 1 lesson</ion-label>
                <ion-input  [(ngModel)]="singlePackAmount"  type="tel"></ion-input>
              </ion-item>
        </div>
        <div class="desc">
          
        </div>
      </div>

      <div class="pInputs">
        <p>Name</p>
        <input [(ngModel)]="packstoEdit.name" type="text">
        <p>Amount</p>
        <input [(ngModel)]="packstoEdit.amount" type="tel">
        <p>Number</p>
        <input [(ngModel)]="packstoEdit.number" type="tel">
      </div>


      <div class="buttons">
        <ion-button (click)="addPackage()" shape="round">
         Done
        </ion-button>
      </div>
    </div>
  </div>
  <div class="exit">
    <div class="cout" (click)="Logout()">
     
    </div>
    <div class="fab">
      <ion-fab-button (click)="Logout()" color="light" size="small">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
  <div class="profileimage">
    <div class="editB">
        <ion-fab-button (click)="toedit()" color="light" size="small">
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
    </div>
    <img src="{{schoolDetails.image}}" alt="">
  </div>
  <div class="schoolN">
    <h4>{{schoolDetails.schoolname}}</h4>
  </div>
  <div class="schoolAddress">
    <div class="businessIcon">
        <ion-icon name="business"></ion-icon>
    </div>
    <div class="addressName">
      <p>{{schoolDetails.address}}</p>
      <p style="font-weight: normal;">{{schoolDetails.desc}}</p>
    </div>
  </div>
  <div class="schoolE">
    <div class="Eicon">
      <ion-icon slot="start" name="at"></ion-icon>
    </div>
    <div class="Etext">
      <p>{{schoolDetails.email}}</p>
    </div>
  </div>
  <div class="schoolT">
    <div class="Ticon">
      <ion-icon slot="start" name="time"></ion-icon>
    </div>
    <div class="Ttext">
      <p>Open from {{schoolDetails.open | date:'shortTime' }} to {{schoolDetails.closed | date:'shortTime'}}</p>
    </div>
  </div>
  <div class="pCont">
    <div class="line">

    </div>
    <div class="pTitle">
      <div class="packs">
          <p>packages</p>
      </div>
      <div class="ab">
        <ion-fab-button (click)="openPackEdit()" size="small">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
    <div class="line">

    </div>
  </div>

  <ion-segment style="width: 96vw !important; margin: auto;" [(ngModel)]="segmentVal" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="code01">
      <ion-label >Code 01</ion-label>
    </ion-segment-button>
    <ion-segment-button value="code08">
      <ion-label>Code 08</ion-label>
    </ion-segment-button>
    <ion-segment-button value="code10">
        <ion-label>Code 10</ion-label>
      </ion-segment-button>
      <ion-segment-button value="code14">
          <ion-label>Code 14</ion-label>
        </ion-segment-button>
  </ion-segment>

 

  <div class="lessonCont">
      <div class="lessonCard" *ngFor="let p of packsToDisplay; let i = index" (click)="presentActionSheet(i, p)">
          <div class="title">
            <div class="lName">
              <h5>{{p.name}} <sub>{{p.code}}</sub> </h5>
            </div>
          </div>
          <div class="lessonCdetails">
            <div>
              <p>R {{p.amount}}.00</p>
            </div>
            <div>
              <p>{{p.number}} lessons</p>
            </div>
          </div>
        </div>
  </div>

 
  </ion-content>