h6{
      color:white;
}
.header {
      text-align: center;
      padding: 10px;
      .img{
            width: 25%;
      }
      
}

.divtop{
 border-radius: 0px 0px 30px 30px;

 height: 25%; 
 background: linear-gradient(#4C0A0A, #790B0B);
 
}
  .con{
        display: flex;
        flex-direction: column;
        margin:  5 auto;
  }
  .aboutus1 {
      transition: 0.4s;;
      height: auto;
      border: solid 1px rgb(76, 10, 10);
      overflow: hidden;
      margin:  5px auto;
      width: 70%;
      text-align: center;
      border-radius: 12px;
      // padding: 5vw;
      .para{
            // height: 0px;
            // border: solid #4C0A0A;
            border-radius: 10px;
            border-top: none;
            overflow: hidden;
      }
      }
  .aboutus2 {
        transition: 0.4s;;
        height: 40px;
      border: black;
      overflow: hidden;
      margin:  5px auto;
      width: 70%;
      border-radius: 12px;
      border: solid 1px rgb(76, 10, 10);
      .para{
            // height: 0px;
            // border: solid #4C0A0A;
            border-radius: 10px 10px 10px 10px;
            border-top: none;
            overflow: hidden;
      }
      }
      .aboutus{
            height: 40px;
            border: solid linear-gradient(#4C0A0A, #790B0B);
            width: 100%;
            border-radius: 10px 10px 10px 10px; 
            background: linear-gradient(#4C0A0A, #790B0B);
            display: flex;
            align-items: center;
            text-align: center;
            padding: 20px;
            overflow:  hidden !important;
            h4 {
                  width: 100%;
                  text-transform: uppercase;
            }
      }
      .inform{
      // margin-top: 20%;
      display: flex;
      align-items: center;
      height: 75%;
      background:linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0)),url('../../assets/dims\ \(1\).jpg');
        background-size: 100% auto;
        background-repeat:no-repeat;
        background-position:center 45vh ;
        overflow-y: auto;
     
      }
      div {
            max-height: 100%;
            overflow-y: auto;
      }
      h4{
            color: white;
      }
      