
<ion-content>

    <!-- <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
          <div class="load-ctrl">
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
              <p style="color: white; font-size: 4vw; text-align: center">Getting Request</p>
              
          </div>
        </div> -->

    <!-- <div #map id="map" (click)="showTab()"></div> -->

    <!-- <div #list [ngClass]="{'list': display, 'listinactive': !display}"> -->


      <!-- <div (click)="swipeUp()" class="toggler">
        <ion-icon *ngIf="display" color="dark" class="arrow" name="arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="!display" class="arrow" name="arrow-dropup"></ion-icon>
        <p *ngIf="!display" color="dark" style="font-size: 3vw;">REQUESTS</p>
      </div> -->

      <p *ngIf="NewRequesteWithPictures.length==0" style="color: gray; text-align: center;">No bookings for you yet.</p>

      <ion-list >
        <ion-item *ngFor="let  obj of NewRequesteWithPictures" >
            <p style="font-size: 3vw; width: 100%;">{{obj.location}}</p>
            <!-- <img src="{{obj.image}}" alt="No Image"> -->
          {{obj.name}} <button class="bt1" (click)="Accept(obj, i, obj.docid)">
              Accept
            </button>
            <button class="bt2" (click)="Decline(obj.docid, i)">
                Decline
              </button>
        </ion-item>
      </ion-list>

      <p *ngIf="dataDisplay.length != 0">Accepted Customers</p>

      <ion-list *ngIf="dataDisplay.length != 0">
          <ion-item *ngFor="let obj of dataDisplay; let i = index" >
              <p style="font-size: 3vw; width: 100%;">{{obj.location}}</p>
              <!-- <img src="{{obj.image}}" alt="No Image"> -->
            {{obj.name}} <br />
            {{obj.package.name}}<br />
            <button (click)="DeleteItem(obj)"> <ion-icon name="trash"></ion-icon> </button>
          </ion-item>
        </ion-list>
<!-- 
      <div class="s-list" padding>
        <p *ngIf="NewRequesteWithPictures.length==0" style="color: gray; text-align: center;">No bookings for you yet.</p>
        <div class="card" *ngFor = "let obj of NewRequesteWithPictures; let i = index" >
  
          <div class="image">
            <img src="{{obj.image}}" alt="No Image">
          </div>
          <div class="details">
            <div class="det">
              <p style="font-size: 5vw;font-weight: bold" (click)="checkBookingProfile(obj, i, obj.docid )">{{obj.name}}</p>
              <p style="font-size: 3vw; width: 100%;">{{obj.location}}</p>
              
              <div class="butons">
  
  
              <div class="btns">
                <button class="bt1" (click)="Accept(obj, i, obj.docid)">
                  Accept
                </button>
              </div>
              <div class="btns2">
                <button class="bt2" (click)="Decline(obj.docid, i)">
                  Decline
                </button>
              </div>
            </div>
            </div>
          </div>
  
        </div>
      </div> -->


    <!-- </div> -->
  </ion-content>