

<ion-content>
  <div class="background">
    <div class="logo">
      <img src="../../assets/StepLogo.svg" alt="">
    </div>
    <div class="body">
      <div class="sign">
        <div class="bSign">
          <button (click)="goToLogin()">
            Sign In
          </button>
  
        </div>
        <div class="bReg">
          <button>
            Sign Up
          </button>
        </div>
      </div>
  
      <div class="cont">
        <div class="login">
          <div class="title">
            <h1>
              SIGN UP
            </h1>
          </div>


          <form ng-submit="loginForm()"  [formGroup]= "loginForm" class="login" #form="ngForm">


              <div class="input1">
                  <div class="em">
                      <a>User Email</a>
                  </div>
                  <div class="inp">
                      <input formControlName="email" type="email" 
          [class.invalid]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                  </div>
                </div>

                <div *ngIf="!loginForm.controls['email'].valid
                && loginForm.controls['email'].touched" class="error">
                  <div class="messages">
                    Please enter a valid email.
                  </div>
                </div>



                <div class="input1">
                    <div class="em">
                        <a>Password</a>
                    </div>
                    <div class="inp">
                        <input formControlName="password" type="email" type="password" 
                        [class.invalid]="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                    </div>
                  </div>


                  <div *ngIf="!loginForm.controls['password'].valid  &&
                  loginForm.controls['password'].touched" class="error">
                    <div class="messages">
                      Password needs more than 6 characters long.
                    </div>
                  </div>


                  <div class="forget">
                      <button>
                        Forgot Password?
                      </button>
                    </div>
                    
                    <div class="btn">
                      <button type="submit" (click)="signupUser(loginForm)">
                        Proceed
                      </button>
                    </div>
          </form>
         


        
  
         
        </div>
      </div>
  
    </div>
  </div>
  </ion-content>
  